# 项目名称
APP_NAME=skeleton

#运行环境 dev test pre prod
APP_ENV=dev

# 代理类缓存
# @link https://hyperf.wiki/2.0/#/zh-cn/aop?id=%E4%BB%A3%E7%90%86%E7%B1%BB%E7%BC%93%E5%AD%98
SCAN_CACHEABLE = false

#程序监听的地址与端口
SERVER_HOST=0.0.0.0
SERVER_PORT=80

# 数据库配置
DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

# redis配置
REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0

#钉钉报警机器人地址
DING_TALK_ROBOT=''
#钉钉报警机器人密钥，如果没有则不用配置
DING_TALK_SECRET=''